h1 {
    color: #FFF;
/* Header */
font-family: Alegreya;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #0E8B7E;
box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
width: 30%;
padding-left: 35px;

}

.button {color: #000;
    font-family: Alegreya;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:400px;
    height: 75px;
    background: var(--nvm-its-yellow, #FDC542);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    }

.projectsbtn {
    
    border-color: #FA8401;
    border-width: 10px;
    color: var(--orange-u-glad-its-not-yellow, #FA8401);
    font-family: Alegreya;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 295px;
    height:295px;
    background: #FFF;
    border-radius: 295px;    
    }

#About {display: grid;
    grid-template-columns: 10% 25% 25% 25%;
    grid-template-rows: 50% 10% 25% 15%;
    height: 800px;
    }

#heroImg {
    grid-column-start: 1;
    grid-column-end: 4;
    
}

#AbtH {   
    color: var(--if-green-wanted-to-be-blue, #0E8B7E);
    font-family: Alegreya;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    grid-column:2 ;
    grid-row: 2;

}

#AbtP {
    grid-column: 2;
    grid-row: 3;
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 145.833% */
}

#logoImg {
    grid-column: 1;
    grid-row: 4;
    padding: 5px;
}

#colorInspo {
    display: grid;
        grid-template-columns: 5% 22.5% 22.5% 22.5% 22.5%;
        grid-template-rows: 20% 20% 20% 20% 20%;}
      


#inspo1 {grid-column: 2; grid-row: 2; padding-bottom: 75px;}

#inspo2 {grid-column: 3; grid-row: 2; padding-bottom: 75px;}

#inspo3 {grid-column: 4; grid-row: 2; padding-bottom: 75px;}

#inspo4 {grid-column: 5; grid-row: 2; padding-bottom: 75px;}

#inspobtn {grid-column: 5; grid-row: 5;}


#hueFinder {
    display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 20% 20% 20% 20%;
}

#huebtn {
    grid-column: 4;
    grid-row: 5;

}

#hueImg {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    padding-top: 75px;
    padding-bottom: 75px;
}

#myProjects {
    display: grid;
    grid-template-columns: 5% 23% 23% 23% 5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding-bottom: 35px;
    justify-content: space-around;
}

#nursImg {
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 75px;
}

#kitchImg {
    grid-column: 3;
    grid-row: 2;
    padding-bottom: 75px;
    
}

#probtn {
grid-column: 4;
grid-row: 2;
padding-bottom: 75px;

}